@{
	ViewBag.Title = "Home Page";
}
<h2>Chat</h2>
<div class="container" id="chat">
	<input type="text" v-model="message" />
	<input type="button" id="sendmessage" value="Send" />
	<input type="hidden" id="displayname" />
	<ul id="discussion"></ul>

	<ul v-for="i in messages | newMessages">
		<li v-if"isNotOld(i.date)">
			<b>{{ i.name }}:</b> {{ i.message }}
		</li>
	</ul>
	<hr />
	<div>
		{{$data | json}}
	</div>
</div>
@section scripts {
	<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script>
		var data = {
			messages: [],
			displayname: '',
			message: ''
		};
		var app = new Vue({
			el: '#chat',
			data: data
		});
		Vue.filter('newMessages', function (messages) {
			return messages.filter(function (message) {
				return isNotOld(message.date);
			})
		});
        $(function () {
			var chat = $.connection.inventoryHub;
			chat.client.addNewMessageToPage = function (name, message) {
				data.messages.push({ name: name, message: message, date: new Date() });
            };
			data.displayname = prompt('Enter your name:', '');
            $('#message').focus();
            $.connection.hub.start().done(function () {
				$('#sendmessage').click(function () {
					chat.server.send(data.displayname, data.message);
                    $('#message').val('').focus();
                });
            });
		});

		function isNotOld(date) {
			var now = new Date();
			return (date - now) > -50000;
		}
	</script>
}